/* Navbar Start */
.register-btn {
  margin-right: 5px;
  margin-bottom: 5px;
}

.custom-navbar-container {
  width: 90%;
}

@media (min-width:1000px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    /* remove the gap so it doesn't close */
  }
}

/* Navbar End */


/* about us start*/
body {
  background-color: #f0fff0;
}

.big-heading {
  text-align: center;
  margin: 2rem auto 0 auto;
}

.text-content {
  margin: 3rem;
}

.faculty {
  margin: 1rem auto;
  background-color: #F0FFF0;
}

.faculty-img {
  border-radius: 50%;
  height: 10rem;
  width: 80%;
  margin: .5rem auto;
}

.faculty-info {
  text-align: center;
}

/* about us end */

/* Footer starts */
footer {
  background-color: #272727;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

footer a {
  text-decoration: none;
}

.fab {
  font-size: 2rem;
  margin: 1rem 0.5rem;
}

.fa-facebook {
  color: #1873EB;
}

.fa-google {
  color: #50C45F
}

.fa-instagram {
  color: #C02899;
}

.fa-youtube {
  color: #F70000;
}

.fa-envelope {
  color: #009DED;
}

.copyright {
  color: white;
  font-size: 1.1rem;
}

.developer {
  color: white;
  padding-bottom: 1rem;
  margin-bottom: 0;
}

/* Footer End*/
